/*
website color theme:
(Mauve) #c19892 or RGB 193, 152, 146
(lightgrey) #d8d6d7 or RGB 216, 214, 215
(White) #ffffff or RGB 242, 241, 239
(Lightpink) #edd6d0 or RGB 237,214,208
(Navy) #5e6171 or RGB 94,97,113

new colors:
grey #656668
dark grey #424242
coral #f16667
light coral #fce5e5
white #ffffff

font family: montserrat
light 300
light 300 italic
regular 400
regular 400 italic
bold 700
bold 700 italic
*/
header {
  background-color: #fce5e5;
  padding: 10px;
  margin: 0 auto;
  border-bottom: 3px solid #f16667;
  text-align: center;
  align-content: space-around;
  -webkit-box-shadow: 0px 10px 11px 0px rgba(50, 50, 50, 0.69);
  -moz-box-shadow: 0px 10px 11px 0px rgba(50, 50, 50, 0.69);
  box-shadow: 0px 10px 11px 0px rgba(50, 50, 50, 0.69);
  position: fixed;
  width: 100%;
  display: inline-block;
}

* {
  box-sizing: border-box;
}

main {
  padding-top: 158.51px;
}

body {
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #656668;
}

h1, h2, h3, h4 {
  line-height: 1.4;
  text-transform: uppercase;
  color: #f16667;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

.hero.text {
  max-width: 900px;
  margin: 0 auto;
}

img {
  width: 100%;
}

a {
  color: #656668;
  /*grey*/
  text-decoration: underline;
}

a:visited {
  color: #656668;
}

a:hover, a:focus {
  opacity: 35;
  color: #656668;
  /*grey*/
  text-decoration: underline;
}

a:active {
  color: #d8d6d7;
  /*lightgrey*/
}

.button {
  display: inline-block;
  background-color: #f16667;
  /*coral*/
  color: #ffffff;
  font-weight: 500;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  transition: 0.2s opacity;
  text-decoration: none;
}

.button:hover, .button:focus {
  opacity: 0.8;
  color: #ffffff;
  text-decoration: none;
}

.button:visited {
  color: #ffffff;
}

.button.contact {
  background-color: transparent;
  color: #f16667;
  text-transform: uppercase;
  border: 2px solid #f16667;
}

.button.contact:hover, .button.contact:focus {
  background-color: #656668;
  color: #ffffff;
}

.button.download {
  display: inline-block;
  text-align: center;
}

.icon {
  font-size: 2.75em;
}

.container {
  padding: 0 15px;
  max-width: 1200px;
}

.row {
  margin: 25px 0;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 2px solid #f16667;
  margin-bottom: 0;
}

#work .animation.row {
  border-bottom: none;
}

.logo {
  max-width: 50px;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
}

nav>ul>li>a:visited {
  color: #f16667;
  text-decoration: none;
}

nav {
  display: inline-block;
  width: 100%;
}

#hero {
  background-color: #fce5e5;
  padding: 20px 0;
  text-align: center;
}

#hero span {
  display: block;
}

#work h2 {
  text-align: center;
}

figure {
  margin: auto;
}

figcaption {
  font-weight: bold;
  margin-bottom: 1em;
  font-size: 80%;
}

footer {
  background-color: #fce5e5;
  padding: 10px 0;
  margin: 0 auto;
  text-align: center;
}

.social>ul {
  list-style-type: none;
  padding: 0;
}

.social>ul>li {
  display: inline-block;
}

.social>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
}

.berlin.illustration {
  text-align: center;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

@media only screen and (min-width: 640px) {
  header {
    text-align: center;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  .logo {
    float: left;
  }

  main {
    padding-top: 111.75px;
  }

  body {
    font-size: 18px;
  }

  h3 {
    margin-top: 0;
  }

  img {
    max-width: 500px;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #about-page h3 {
    margin-top: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 60%;
  }

  .col-lg-5 {
    width: 40%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .container.about {
    max-width: 900px;
  }

  ul {
    padding-inline-start: 10px;
  }
}
