/*
website color theme:
(Mauve) #C19892 or RGB 193, 152, 146
(lightgrey) #D8D6D7 or RGB 216, 214, 215
(Offwhite) #F2F1EF or RGB 242, 241, 239
(Lightpink) #EDD6D0 or RGB 237,214,208
(Navy) #5E6171 or RGB 94,97,113
*/
body{
  background-color: #D8D6D7;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #C19892;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}
